<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link rel=icon type="image/x-icon" href="{{ url_for('static', filename='img/badge.png') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %} {% endblock %}
        <script src="https://kit.fontawesome.com/2ebdedf116.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav>
                <div class="navbar-logo">
                  <a href="#">
                    <img src="{{ url_for('static', filename='img/solid white.png') }}" alt="Your Logo">
                  </a>
                </div>
                <ul class="navbar-links">
                  <li><a href="/venueperformance">Venue/Show Performance</a></li>
                  <li><a href="/about">About</a></li>
                  <li>
                    <form class = "search",  method="post", action="/search">
                      <input type="text" name ="search" placeholder="Search...">
                    </form>
                  </li>
                  <a href="/login"><button class="btn"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</button></a>
                </ul>
            </nav>
        </header>
{% block body %} {% endblock %}

    
    </body>
</html>
