{% extends "admin-nav.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'css/home.css') }}">{% endblock %}

{% block body %}
<div class="box">
{% for venue in venue %}

<a href ="/admin_venue/{{venue['venue_id']}}">
<h1>Venue {{ venue['venue_id'] }}</h1>
<div class="container">
    <div class="venue">
        <div class="venue-info">
            <h2>{{ venue['venue_name'] }}</h2>
            <p>Place: {{ venue['venue_place'] }}</p>
            <p>Location: {{ venue['venue_location'] }}</p>
            <p>Capacity: {{ venue['venue_capacity'] }}</p>
        </div>
    </div>
</div>
</a>
{% endfor %}

<a href = "/add_venue"><button class="plus-btn"><span>Add</span></button></a>
</div>







{% endblock %}