{% extends "layout.html" %}

{% block admin_login %}
<li><a href="/admin_login">Admin Login</a></li>
{% endblock %}

{% block title %}Ticket Tales{% endblock %}

{% block body %}



<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form method = "post" action="/">
			<h1>Create Account</h1>
            <input type="name" placeholder="Name" name = "Name" required/>
            <input type="email" placeholder="Email" name = "Email" id = "email" required/>
			<input type="password" placeholder="Password" name = "Password" id="password" required/>
			<button onclick="saveValue()">Register</button>
		</form>
	</div>
	{% if error == 'User already exists, Please login.' %}
		<div class = "error">
			<p>{{ error }}</p>
		</div>
	{% endif %}
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Login</h1>
                <p>Already an exisitng user?</p>
				<a href="/login"><button class="btn" >Login</button></a>
			</div>
		</div>
	</div>
</div>


{% endblock %}